.card {
  text-align: center;
  border-radius: 1em;
  border: none;
  width: 22rem;
  height: 100%;
}
.card-img {
  width: 85%;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
.card-body {
  padding: 1em;
}
.card-title {
  font-size: 1.6em;
  font-weight: bold;
  margin: 0;
}
.card-btn {
  border: none;
  border-radius: 2em;
  margin: 1em 0 0.3em;
  padding: 0.5em 1.2em;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  background-color: #293241;
}
.card-btn:hover {
  background-color: #ec2840;
}
.card-btn:focus {
  background-color: #ec2840;
  box-shadow: 0 0 0 0.2rem rgb(236 40 64 / 25%);
}
